<div class='header'>
  <%= link_to 'Sign Out', user_path(current_user), method: :delete %>
</div>
<div class='section'>  
  <div class='container' style='margin: 0px;'>
    <div class='header'>
      <div class='level'>
        <div class='level-left'>
          <div class='level-item'>
            <div class='button'>
              <%= link_to 'All Events', events_path %>
            </div>
            <div class='button'>
              <%= link_to 'My Events', user_path(current_user) %>
            </div>
          </div>  
        </div>  
        <div class='level-right'>
          <div class='level-item'>
            <div class="field has-addons">
              <p class="control">
                <input class="input" type="text" placeholder="Find an Event..">
              </p>
              <p class="control">
                <button class="button">
                  Search
                </button>
              </p>
            </div>
          </div>
        </div>  
      </div>
    </div>  
  </div>
</div>  