<div class='section'>
  <div class='container'>
    <div class='title'>
      Create an Event
      <div class='subtitle is-5'>
        You know you want to..
      </div>
    </div>
  </div>  
</div>
<div class='section'>
  <div class='container'>
    <%= render 'form' %>
  </div>
</div>  