/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

.events-created {
    .container {
        padding: 8px;
    }
}
.events-container {
    .container {
        padding: 8px;
    }
}
.event-wrapper {
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(126, 126, 126, 1);
    padding: 5px;
}

.events-none {
    padding-left: 15px;
    padding-bottom: 5px;
}

.container {
    #navbar-wrapper {
        padding-top: 10px; 
    }
}

.events-container-index {
    padding: 8px;
}